.bg-event-100.bg,
.bg-event-100 .bg{
    background-color: black; /* background color */
    color: white;
}
.bg-event-75.bg,
.bg-event-75 .bg{
    background-color: red; /* background color */
    color: white;
}
.bg-event-50.bg,
.bg-event-50 .bg{
    background-color: orange; /* background color */
    color: white;
}
.bg-event-25.bg,
.bg-event-25 .bg{
    background-color: yellow; /* background color */
    color: black;
}
.bg-event-25-1.bg,
.bg-event-25-1 .bg{
    background-color: blue; /* background color */
    color: white;
}
.bg-event-0.bg,
.bg-event-0 .bg{
    background-color: green; /* background color */
    color: white;
}
.bg-event-change.bg,
.bg-event-change .bg{
    font-family: Courier;
}
.bg-event-travel.bg,
.bg-event-travel .bg{
    background-color: violet; /* background color */
    color: white;
}