<div ng-controller="WorkerdayController">
    {{events.length}}
    <div class="wrapper-md bg-light b-b" ng-show="changeTable">
        <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show"
                target="#aside" ng-click="renderCalender(calendar1)">
            <i class="fa fa-bars"></i> List
        </button>
        <h1 class="m-n font-thin h3">Worker Day</h1>
    </div>
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col wrapper-md">
            <div class="clearfix m-b">
                <div class="input-group">
                    <input type="text"
                           datepicker-popup="dd-MM-yyyy"
                           ng-model="cdate.customStartDate"
                           is-open="cdate.customStartDate.open"
                           ng-click="cdate.customStartDate.open = true"
                           max-date="maxDate"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           close-text="Close"
                           class="form-control"/>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"
                                ng-click="changeView('agendaDay', calendar2, cdate.customStartDate)">Go to
                        </button>
                    </span>
                </div>
            </div>
            <div class="pos-rlt">
                <div class="fc-overlay">
                    <div class="panel bg-white b-a pos-rlt">
                        <span class="arrow"></span>

                        <div class="h4 font-thin m-b-sm">{{event.title}}</div>
                        <div class="line b-b b-light"></div>
                        <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.start | date:'medium'}}</div>
                        <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i>
                            {{event.end | date:'medium'}}
                        </div>
                        <div class="ng-hide" ng-show='event.location'><i class="icon-pointer text-muted m-r-xs"></i>
                            {{event.location}}
                        </div>
                        <div class="m-t-sm">{{event.info}}</div>
                        <div class="m-t-sm">{{event.url}}</div>
                    </div>
                </div>
                <div class="calendar" ng-model="eventSources" calendar="calendar2"
                     ui-calendar="uiConfig.calendar"></div>
            </div>
        </div>
        <div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside">
            <div class="wrapper">
                <div ng-repeat="e in events" class="bg-white-only r r-2x m-b-xs wrapper-sm {{e.className[0]}}">
                    <input ng-model="e.title" class="form-control m-t-n-xs no-border no-padder no-bg">
                    <a class="pull-right text-xs text-muted" ng-click="remove($index)"><i class="fa fa-trash-o"></i></a>

                    <div class="text-xs text-muted">{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
