<div class="panel-default">
    <div class="panel-heading">Feedback</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-12">
<form>
                <label>Wie können wir Ihnen helfen?</label>
                <textarea type="text" name="feedback" class="form-control" type="text" 
style="height:200px; text-align:left; line-height:15px; vertical-align:top;"> </textarea>
</form>
            </div>
        </div>
        
        <form role="form">
            <div class="form-group">
                <a href class="btn btn-info btn-block m-b-sm" ng-click="cancel()">Senden</a>
            </div>
        </form>
    </div>
</div>