<!-- first -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li>
    <a ui-sref="app.workerday">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold">Worker Day</span><!--translate="aside.nav.DASHBOARD"-->
    </a>
  </li>
  <li>
    <a ui-sref="app.calendar">
      <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.CALENDAR">Calendar</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.mail.list">
      <b class="badge bg-info pull-right">9</b>
      <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
      <span class="font-bold" translate="aside.nav.EMAIL">Email</span>
    </a>
  </li>
	<li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-edit"></i>
      <span >Orders</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span >Create Order</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.form.elements">
          <span >Order list</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a ui-sref="app.ui.chart">
      <i class="glyphicon glyphicon-signal"></i>
      <span translate="aside.nav.components.CHART">Chart</span>
    </a>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <b class="label bg-primary pull-right">2</b>
      <i class="glyphicon glyphicon-list"></i>
      <span translate="aside.nav.components.table.TABLE">Table</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.table.TABLE">Table</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.table.static">
          <span translate="aside.nav.components.table.TABLE_STATIC">Table static</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.table.datatable">
          <span translate="aside.nav.components.table.DATATABLE">Datatable</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.table.footable">
          <span translate="aside.nav.components.table.FOOTABLE">Footable</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-file icon"></i>
      <span>Invoices</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.pages.PAGES">Invoices</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.page.profile">
          <span translate="aside.nav.components.pages.PROFILE">Profile</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.page.post">
          <span translate="aside.nav.components.pages.POST">Post</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.page.search">
          <span translate="aside.nav.components.pages.SEARCH">Search</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.page.invoice">
          <span translate="aside.nav.components.pages.INVOICE">Invoice</span>
        </a>
      </li>
      <li>
        <a ui-sref="lockme">
          <span translate="aside.nav.components.pages.LOCK_SCREEN">Lock screen</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.signin">
          <span translate="aside.nav.components.pages.SIGNIN">Signin</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.signup">
          <span translate="aside.nav.components.pages.SIGNUP">Signup</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.forgotpwd">
          <span translate="aside.nav.components.pages.FORGOT_PASSWORD">Forgot password</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.404">
          <span translate="aside.nav.components.pages.404">404</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
  </li>  
  <li>
    <a ui-sref="app.page.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success dk pull-right">30%</b>
      <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.docs">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.DOCUMENTS">Documents</span>
    </a>
  </li>
</ul>
<!-- / third -->