<div class="modal-header">
    <h3>Confirm</h3>
</div>
<div class="modal-body">
    <p>Are you delivery?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn"
            data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary"
            data-ng-click="ok()">OK</button>
</div>