<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h3">You may start delivery</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="Event">
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-2">Address</label>

                <div class="input-group col-md-9 col-xs-9">
                    <input type="text" name="title" class="form-control" value="{{event.location}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-2">Time Start</label>

                <div class="input-group col-md-9 col-xs-9">
                    <input type="text" name="title" class="form-control" value="{{event.time_start}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-2">Time End</label>

                <div class="input-group col-md-9 col-xs-9">
                    <input type="text" name="title" class="form-control" value="{{event.time_end}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-2"></label>
                <span class="control-label col-md-7 col-xs-7 h4">Select time to start delivery</span>
                <label class="control-label col-md-2 col-xs-2"></label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-2"></label>

                <div class="radio inline">
                    <label><input type="radio" ng-model="selected" value="0" name="optradio">On Time</label>
                </div>
                <div class="radio inline">
                    <label><input type="radio" ng-model="selected" value="900" name="optradio">Late 15 min</label>
                </div>
                <div class="radio inline">
                    <label><input type="radio" ng-model="selected" value="1800" name="optradio">Late 30 min</label>
                </div>
                <div class="radio inline">
                    <label><input type="radio" ng-model="selected" value="2700" name="optradio">Late 45 min</label>
                </div>
                <div class="radio inline">
                    <label><input type="radio" ng-model="selected" value="3600" name="optradio">Late 1 hour</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-2"></label>
                <div class="col-md-9 col-xs-9 input-group">
                    <button type="submit" class="btn" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="ok(selected)" ng-disabled="selected.$invalid">
                        OK
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>